astroid==1.6.5
awscli==1.6.2
backports-abc==0.5
backports.functools-lru-cache==1.5
backports.ssl-match-hostname==3.7.0.1
bcdoc==0.12.2
boto==2.33.0
botocore==0.73.0
certifi==2015.4.28
chardet==3.0.4
colorama==0.2.5
configparser==3.7.3
decorator==4.0.9
docutils==0.14
enum34==1.1.6
functools32==3.2.3.post2
futures==3.2.0
genson==0.1.0
geographiclib==1.49
geopy==1.18.1
googlemaps==3.0.2
#GraphLab-Create==2.1
#GraphLab-Create-License==2.1
idna==2.8
isort==4.3.13
jmespath==0.5.0
jsonpickle==1.1
jsonschema==2.5.1
lazy-object-proxy==1.3.1
mccabe==0.6.1
multipledispatch==0.6.0
nltk==3.4.5
numpy==1.16.3
overpy==0.4
pandas==0.24.2
polyline==1.3.2
prettytable==0.7.2
psclient==2.0
pyasn1==0.4.5
pylint==1.9.4
python-dateutil==2.8.0
pytz==2019.1
requests==2.9.1
rope==0.12.0
rsa==3.1.2
scikit-learn==0.20.3
scipy==1.2.1
singledispatch==3.4.0.3
six==1.12.0
sseclient==0.0.8
tornado==4.3
urllib3==1.24.1
wincertstore==0.2
wrapt==1.11.1
